/* Fichier: src/styles/global.css */
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* 1. Définition de l'animation */
@keyframes gradient-move {
  0% {
    background-position: 0% 50%; /* Début : centré horizontalement */
  }
  50% {
    background-position: 100% 50%; /* Milieu : décalé à droite */
  }
  100% {
    background-position: 0% 50%; /* Fin : retour au début */
  }
}

/* 2. Classe Tailwind personnalisée pour l'appliquer */
.animate-gradient-bg {
  /* On définit la taille de l'arrière-plan pour qu'il soit plus grand que le conteneur */
  background-size: 400% 400%; 
  /* On applique l'animation définie ci-dessus */
  animation: gradient-move 15s ease infinite; 
}